# Created by .ignore support plugin
pui
*_autoload*
_act*
*.swo
*.swp
*.swn
*.tmp
*.map
._pylon.dat
.gd*
options/used
tmp
npm-debug.log
cscop*
runtime/*
run/*
avatar_origin/*
_notes
.rigger.dat
rigger.log
_prj/*tags
node_modules/*
.idea/*
.DS_Store
pylon_tags
tags
phpunit.xml.dist
rg.fail
*_tags
.tags
.tags_sorted_by_file
test/redis_test.php
dist/debug/*
.jshintrc
sftp-config.json
.jsbeautifyrc
*.sublime-project
*.sublime-workspace
